html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#app {
  display: flex;
  justify-content: center;
}

#calculator {
  width: 260px;
  border: 1px solid black;
}

.calculator-display {
  border: 1px solid red;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding: 18px 32px;
  font-size: 22px;
}

.calculator-keys {
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5rem;
}

button {
  height: 42px;
  border-radius: 50%;
}

.test {
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 40px;
}