/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}


html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #DDE3E6;
}

#app {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

#calculator {
  min-width: 328px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.calculator-display {
  background-color: #738B9B;
  color: #fff;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding: 18px 32px;
  font-size: 30px;
}

.calculator-keys {
  display: grid;
  gap: 0.1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.calculator-keys button {
  color: #738B9B;
  height: 82px;
  border: none;
  font-size: 18px;
}

.calculator-keys button:not(.key-equal):hover {
  filter: brightness(95%);
}

.calculator-keys .key-num {
  background-color: #fff;
}

.calculator-keys .key-operator {
  font-size: 24px;
}

.calculator-keys .key-equal {
  background-color: #FC6464;
  color: white;
  font-size: 28px;
  transition: all .2s ease;
}

.calculator-keys .key-equal:hover {
  transform: scale(1.09);
}

.calculator-keys .key-zero {
  grid-column-start: 1;
  grid-column-end: 3;
}